<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078099840601-2too43vt15qbsum8n7ms9i52rjse9nof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078099840601-2too43vt15qbsum8n7ms9i52rjse9nof</string>
	<key>API_KEY</key>
	<string>AIzaSyCEEwhLFfI3-h42V5LogilQR19jJvqZHb8</string>
	<key>GCM_SENDER_ID</key>
	<string>1078099840601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-data</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078099840601:ios:a7c06a99109b85b8f2eb48</string>
</dict>
</plist>